* {
    margin: 0;
}

@keyframes poopie {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(20deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

@keyframes pwned {
    0% {transform: scaleX(1); filter: invert(0%);}
    25% {transform: scaleX(1.5); filter: invert(100%);}
    50% {transform: scaleX(1.0); filter: invert(0%);}
    75% {transform: scaleX(0.5); filter: invert(100%);}
    100% {transform: scaleX(1); filter: invert(0%);}
}

@keyframes uVizAd {
    0% {transform: translateX(-200px); opacity: 0;}
    5% {transform: translateX(-30px); opacity: 1;}
    20% {opacity: 1;}
    21% {opacity: 0;}
    22% {opacity: 1;}
    23% {opacity: 0;}
    24% {opacity: 1;}
    25% {opacity: 0;}
    26% {opacity: 1;}
    26.5% {opacity: 0;}
    27% {opacity: 1;}
    27.5% {opacity: 0;}
    28% {opacity: 1;}
    28.5% {opacity: 0;}
    29% {opacity: 1;}
    29.5% {opacity: 0;}
    30% {opacity: 1;}
    60% {opacity: 1;}
    60.5% {opacity: 0;}
    61% {opacity: 1;}
    61.5% {opacity: 0;}
    62% {opacity: 1;}
    62.5% {opacity: 0;}
    63% {opacity: 1;}
    85% {opacity: 1;}
    90% {transform: translateX(30px); opacity: 0.2;}
    92% {opacity: 0;}
    95% {transform: translateX(2000px);}
    100% {transform: translateX(2000px);}
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    background-color: orange;
}

h1 {
    font-size: 10em;
    color: brown;
}

button {
    height: 300px;
    width: 300px;
    border-radius: 100px;
    font-size: 5em;
    background-color: yellow;
    color: purple;
    margin: 50px;
}

#uVizionAd {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uVizionAd div {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uVizionAd div img {
    position: absolute;
    opacity: 0;
}

.adTime {
    animation: 5s linear 1 uVizAd;
}

.rekt {
    animation: poopie 0.2s linear 15;
}

.pwned {
    animation: pwned 0.4s linear 5;
}
