@keyframes uVizAd {
    0% {transform: translateX(-200px); opacity: 0;}
    5% {transform: translateX(-30px); opacity: 1;}
    20% {opacity: 1;}
    21% {opacity: 0;}
    22% {opacity: 1;}
    23% {opacity: 0;}
    24% {opacity: 1;}
    25% {opacity: 0;}
    26% {opacity: 1;}
    26.5% {opacity: 0;}
    27% {opacity: 1;}
    27.5% {opacity: 0;}
    28% {opacity: 1;}
    28.5% {opacity: 0;}
    29% {opacity: 1;}
    29.5% {opacity: 0;}
    30% {opacity: 1;}
    60% {opacity: 1;}
    60.5% {opacity: 0;}
    61% {opacity: 1;}
    61.5% {opacity: 0;}
    62% {opacity: 1;}
    62.5% {opacity: 0;}
    63% {opacity: 1;}
    85% {opacity: 1;}
    90% {transform: translateX(30px); opacity: 0.2;}
    92% {opacity: 0;}
    95% {transform: translateX(2000px);}
    100% {transform: translateX(2000px);}
}

@keyframes skewer {
    0%   {transform: skew(0);}
    25%  {transform: skew(2deg, 0deg);}
    75%  {transform: skew(-2deg, 0deg);}
    100% {transform: skew(0);}
}

@keyframes winning {
    0%   {transform: scale(1);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes flash {
    0%   {filter: invert(0);}
    50%  {filter: invert(1);}
    100% {filter: invert(0);}
}

* {
    margin: 0;
    cursor: none;
    font-family: 'Times New Roman', serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    /* background: linear-gradient(black, black, rgba(128, 0, 128, 0.5), purple), linear-gradient(-100deg, black, black, rgba(0, 100, 200, 0.5), blue), linear-gradient(100deg, black, black, rgba(200, 100, 0, 0.4), red); */
    background: linear-gradient(black, black, rgba(128, 0, 128, 0.5), rgba(128, 0, 128, 0.7)), linear-gradient(-209deg, black, black, rgba(0, 100, 200, 0.5), rgba(0, 100, 200, 0.7)), linear-gradient(-70deg, black, black, rgba(200, 100, 0, 0.4), rgba(200, 100, 0, 0.7))
}

.leader {
    position: fixed;
    z-index: 5;
    top: 20px;
    right: 40px;
    color: white;
    font-style: italic;
    font-size: 40px;
    transform: rotate(10deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: lime;
}

.flash {
    animation: flash 0.2s linear 5;
}

#graph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    /* background-color: blue; */
}

.bar-wrap {
    width: 100%;
    height: 9%;
    /* border: 1px solid white; */
}

.bar {
    position: relative;
    height: 100%;
    /* background: linear-gradient(to left, orange, rgba(255, 165, 0, 0.4), rgba(255, 165, 0, 0.2), rgba(255, 165, 0, 0.15), rgba(255, 165, 0, 0.05)); */
    transition: width 0.3s linear;
    animation: skewer 0.8s linear infinite;
}

.bar-wrap:first-of-type .bar {
    background: linear-gradient(to left, rgba(240, 255, 2, 1), rgba(240, 255, 2, 0.4), rgba(240, 255, 2, 0.2), rgba(240, 255, 2, 0.15), rgba(240, 255, 2, 0.05));
}

.bar-wrap:nth-of-type(2) .bar {
    background: linear-gradient(to left, orange, rgba(255, 165, 0, 0.4), rgba(255, 165, 0, 0.2), rgba(255, 165, 0, 0.15), rgba(255, 165, 0, 0.05));
}

.bar-wrap:nth-of-type(3) .bar {
    background: linear-gradient(to left, rgba(233, 152, 237, 1), rgba(233, 152, 237, 0.4), rgba(233, 152, 237, 0.2), rgba(233, 152, 237, 0.15), rgba(233, 152, 237, 0.05));
}

.bar-wrap:last-of-type .bar {
    background: linear-gradient(to left, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0.4), rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.05));
}

.bar-wrap:first-of-type .bar img {
    position: absolute;
    top: -20px;
    right: -20px;
    height: 250%;
    transform: rotate(-20deg);
}

.bar-wrap:nth-of-type(2) .bar img {
    position: absolute;
    top: -25px;
    right: -70px;
    height: 250%;
    transform: rotate(-20deg);
}

.bar-wrap:nth-of-type(3) .bar img {
    position: absolute;
    top: -25px;
    right: -53px;
    height: 200%;
    transform: rotate(30deg);
}

.bar-wrap:last-of-type .bar img {
    position: absolute;
    top: -25px;
    right: -45px;
    height: 250%;
    transform: rotate(20deg);
}

#data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    color: white;
    /* background-color: lime; */
}

#data div {
    position: relative;
}

.statWrap {
    position: absolute;
    width: 90px;
    /* background-color: blue; */
}

#dead-boy .statWrap {
    top: -160px;
    left: 10px;
}

#nugget-lord .statWrap {
    top: -120px;
    left: 50px;
}

#prawn-boy .statWrap {
    top: -150px;
    left: 50px;
}

#worm-person .statWrap {
    top: -180px;
    left: 10px;
}

.statWrap div img {
    width: 30px;
}

.statWrap div span {
    margin: 5px;
    font-size: 20px;
    font-weight: 800;
}

#nl-sig{
    position: absolute;
    width: 130px;
    top: 15px;
    left: -30px;
    transform: rotate(-10deg);
}

#pb-sig{
    position: absolute;
    width: 140px;
    top: 70px;
    left: -30px;
    transform: rotate(2deg);
}

/* #data div div {
    margin-top: 20px;
} */

#data div h2 {
    /* position: absolute;
    top: -210px;
    right: -80px; */
    font-size: 40px;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lime;
}

.charImg {
    position: fixed;
    z-index: -1;
}

.dead {
    height: 330px;
    bottom: -140px;
    left: -10px;
    transform: rotate(8deg);
}

.nugget {
    height: 240px;
    bottom: 0;
    left: 120px;
}

.prawn {
    height: 150px;
    bottom: 0;
    left: 245px;
}

.worm {
    height: 240px;
    bottom: 0;
    left: 80%;
}

.winning {
    animation: winning 0.8s infinite;
}

video {
    position: absolute;
    z-index: -2;
    top: 10%;
    left: 30%;
    width: 60%;
}

#uVizionAd {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#uVizionAd div {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uVizionAd div img {
    position: absolute;
    opacity: 0;
    width: 90%;
}

.adTime {
    animation: 5s linear 1 uVizAd;
}
