* {
    margin: 0;
    /* font-family: 'Comic Sans MS'; */
}

html {
    height: 100%;
    width: 100vw;
    background-color: black;
}

body {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background: linear-gradient(black, black, black, purple);
}

@keyframes selectedHead {
    0% {transform: scale(1) rotate(0deg);}
    25% {transform: scale(1.3) rotate(10deg);}
    50% {transform: scale(1) rotate(0deg);}
    75% {transform: scale(1.3) rotate(-10deg);}
    100% {transform: scale(1) rotate(0deg);}
}

@keyframes uVizAd {
    0% {transform: translateX(-200px); opacity: 0;}
    5% {transform: translateX(-30px); opacity: 1;}
    20% {opacity: 1;}
    21% {opacity: 0;}
    22% {opacity: 1;}
    23% {opacity: 0;}
    24% {opacity: 1;}
    25% {opacity: 0;}
    26% {opacity: 1;}
    26.5% {opacity: 0;}
    27% {opacity: 1;}
    27.5% {opacity: 0;}
    28% {opacity: 1;}
    28.5% {opacity: 0;}
    29% {opacity: 1;}
    29.5% {opacity: 0;}
    30% {opacity: 1;}
    60% {opacity: 1;}
    60.5% {opacity: 0;}
    61% {opacity: 1;}
    61.5% {opacity: 0;}
    62% {opacity: 1;}
    62.5% {opacity: 0;}
    63% {opacity: 1;}
    85% {opacity: 1;}
    90% {transform: translateX(30px); opacity: 0.2;}
    92% {opacity: 0;}
    95% {transform: translateX(2000px);}
    100% {transform: translateX(2000px);}
}

@keyframes initializing {
    0%   {opacity: 0}
    50%  {opacity: 0}
    51%  {opacity: 1}
    100% {opacity: 1}
}

#info {
    position: fixed;
}

#initializing {
    color: lime;
    font-size: 40px;
    animation: initializing 0.5s infinite;
}

#avatarName {
    display: none;
    font-size: 40px;
    color: lime;
}

#terminal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: lime;
    font-size: 40px;
    overflow: hidden;
    /* background-color: blue; */
}

#uVizionAd {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none !important;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#uVizionAd div {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uVizionAd div img {
    position: absolute;
    opacity: 0;
    width: 90%;
}

.adTime {
    animation: 5s linear 1 uVizAd;
}

canvas {
    /* background-color: pink; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 75%;
    width: 100%;
    z-index: 1;
    transition: left 0.4s linear;
}

#avatarHeads {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 20%;
    /* border-top: 2px lime solid;
    border-left: 2px lime solid;
    border-bottom: 2px lime solid; */
    /* border-radius: 20px 5px 5px 40px; */
    z-index: 2;
}

.avatarHead {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lime;
    font-size: 40px;
    width: 100%;
    height: 25%;
    border-top: 2px solid lime;
    border-left: 2px solid lime;
}

.selectedHead {
    text-decoration: underline;
    /* animation: initializing 0.5s infinite; */
}

span {
    pointer-events: none;
}
