* {
    margin: 0;
    touch-action: manipulation;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: pink;
}


button {
    height: 50%;
    width: 100vw;
    font-size: 2em;
    background-color: salmon;
    color: midnightblue;
    margin: 0 auto;
}

.slung {
    animation: slungPants 0.3s linear 10;
}
