@keyframes new {
    0%   {opacity: 0; transform: translateY(-20px) rotate(180deg);}
    100% {opacity: 1; transform: translateY(0px) rotate(180deg);}
}

* {
    margin: 0;
    font-family: 'Times';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: orange;
}

#background {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: linear-gradient(white, aqua);
}

#messages {
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    /* background-color: rgba(255, 0, 0, 0.5); */
}

#messages::-webkit-scrollbar {
    display: none;
}

.message {
    /* position: absolute;
    bottom: 0; */
    text-align: center;
    color: pink;
    padding: 10px;
    font-size: 38px;
    /* border: 2px solid blue; */
    transform: rotate(180deg);
    word-break: break-word;
    animation: new 0.5s;
}

.message p {
    text-shadow: 2px 2px 3px white;
}

.message p:first-of-type {
    font-size: 12px;
}

.lord {
    color: orange;
    font-style: italic;
}

#responses {
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 0;
    width: 75px;
    /* background-color: red; */
}

.response {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    color: black;
}

#nuke {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    color: red;
}

#write {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    /* background-color: gold; */
    /* padding: 0px 10px; */
}

textarea {
    flex-grow: 1;
    /* border: 2px solid white; */
    /* border-radius: 30px; */
    margin-left: 10px;
    /* background-color: transparent; */
    outline: none;
    /* color: white; */
    font-size: 38px;
    padding-left: 8px;
}

#send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    /* border-radius: 30px; */
    margin: 0px 10px;
    /* border: 2px solid white; */
    /* background-color: lime; */
    /* background-color: transparent; */
}

#send img {
    width: 100%;
}
