@keyframes uVizAd {
    0% {transform: translateX(-200px); opacity: 0;}
    5% {transform: translateX(-30px); opacity: 1;}
    20% {opacity: 1;}
    21% {opacity: 0;}
    22% {opacity: 1;}
    23% {opacity: 0;}
    24% {opacity: 1;}
    25% {opacity: 0;}
    26% {opacity: 1;}
    26.5% {opacity: 0;}
    27% {opacity: 1;}
    27.5% {opacity: 0;}
    28% {opacity: 1;}
    28.5% {opacity: 0;}
    29% {opacity: 1;}
    29.5% {opacity: 0;}
    30% {opacity: 1;}
    60% {opacity: 1;}
    60.5% {opacity: 0;}
    61% {opacity: 1;}
    61.5% {opacity: 0;}
    62% {opacity: 1;}
    62.5% {opacity: 0;}
    63% {opacity: 1;}
    85% {opacity: 1;}
    90% {transform: translateX(30px); opacity: 0.2;}
    92% {opacity: 0;}
    95% {transform: translateX(2000px);}
    100% {transform: translateX(2000px);}
}

* {
    margin: 0;
    touch-action: manipulation;
}

@keyframes blowz {
    0% {transform: scale(1)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1)}
}

h1 {
    display: none;
    pointer-events: none;
    user-select: none;
    position: fixed;
    text-align: center;
    top: 20px;
    width: 100vw;
    margin: 0 auto;
    color: pink;
    text-shadow: 1px 1px 1px white;
    font-size: 1.4em;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    animation: blowz 1s infinite ease-in-out;
}

html {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@keyframes saturate {
    0% {transform: scale(1);},
    25% {transform: scale(2.4;)},
    50% {transform: scale(1);},
    75% {transform: scale(2.4);},
    100% {transform: scale(1);}
}

#lips, #lipsx {
    pointer-events: none;
    user-select: none !important;
    width: 100px;
    height: auto;
    position: fixed;
    top: -350px;
    left: -350px;
    z-index: 10;
    display: none;
}

#candle {
    display: none;
    position: absolute;
    width: 30px;
}

#progress {
    position: fixed;
    pointer-events: none;
    user-select: none;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 0px;
}

@keyframes jiggle {
    0% {opacity: 1}
    25% {opacity: 0.2}
    50% {opacity: 1}
    75% {opacity: 0.2}
    100% {opacity: 1}
}

.jiggler {
    animation: jiggle 0.5s linear infinite;
}

.epicJig {
    animation: jiggle 0.2s linear infinite;
}

@keyframes blow {
    0% {transform: scaleY(1) scaleX(1);}
    25% {transform: scaleY(1.1) scaleX(1.3);}
    50% {transform: scaleY(1) scaleX(1);}
    75% {transform: scaleY(1.1) scaleX(1.3);}
    100% {transform: scaleY(1) scaleX(1);}
}

.blower {
    animation: blow 1.3s ease-in infinite;
}

#prizeWrap, #prizeWrapFake {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 13;
    overflow: hidden;
}

#claimYourPrize, #claimYourPrizeFake {
    position: relative;
    width: 60vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#claimYourPrize button, #claimYourPrizeFake button {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: pink;
    outline: none;
    text-decoration: none;
    border: 15px hotpink ridge;
    z-index: 20;
    color: white;
    font-size: 1em;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
}

#claimYourPrize video {
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    z-index: 15;
    pointer-events: none;
    user-select: none;
}

#claimYourPrizeFake img {
    position: absolute;
    width: 100%;
    z-index: 16;
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

#claimYourPrizeFake video {
    width: 100%;
    z-index: 15;
    pointer-events: none;
    user-select: none;
}


#uVizionAd {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

#uVizionAd div {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#uVizionAd div img {
    position: absolute;
    opacity: 0;
    width: 90%;
}

.adTime {
    animation: 5s linear 1 uVizAd;
}

.rekt {
    animation: poopie 0.2s linear 15;
}

.pwned {
    animation: pwned 0.4s linear 5;
}


@keyframes nuke {
    0%   {transform: scale(1);}
    50%  {transform: scale(2.6);}
    100% {transform: scale(1);}
}

#nuke {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    /* background-color: lime; */
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#nukeImg {
    width: 90%;
    animation: nuke 2s linear infinite;
}
